@media only screen and (max-width: 1100px){

    header .menu {
        display: none;
    } 

    .menu-bottom {
        display: flex;
    }

    .main .title {
        font-size: min(75px, 13.02vw);
        max-width: min(375px, 65.1vw);
    }

    .namebox {
        font-size: min(32px, 5.55vw);
    }
    
    .namebox .number-3 {
        font-size: min(26px, 4.51vw);
    }

    .subtitle-wrap .subtitle {
        font-size: min(23px, 3.99vw);
    }

    .figure-bg {
        width: 90%
    }

    .advocate-card, .window-content  {
        flex-direction: column;
    }

    .advocate-img img {
        transform: scale(1.02);
    }

    .policy-img {
        height: 100%;
    }

    .slogan .title {
        font-size: min(52px, 9.02vw);
        max-width: min(268px, 46.52vw);
    }

    footer {
        padding-bottom: 130px;
    }

    .policy-window-left, .service-window-left {
        width: 100%;
    }
}

@media only screen and (max-width: 768px){

    .policy-wrap {
        grid-template-columns: 100%;
    }
}

@media only screen and (max-width: 576px){
    
    header .social-link {
        display: none;
    }

    .main .social-link {
        display: flex;
    }

    .figure-bg, .figure {
        width: 100%;
    }

    .figure-wrap {
        max-width: 280px;
        margin: 0 auto;
    }

    .footer-left, .footer-right {
        flex: 1 1 100%;
    }

    .window-wrap {
        padding: 1%;
    }

    .donate-row {
        flex-direction: column;
        gap: 8px;
    }

    .row-content small {
        float: right;
        line-height: 29px;
    }
}